.wraper {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  gap:22px;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  gap:22px;
  a {
    margin: auto;
  }
}

.hero {
  display: flex;
  justify-self: center;
  width: auto;
  height: 111px;
  border-radius: 10px;
  padding: 31px 56px 32px 16px ;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    text-align: left;
    margin: auto;
    color: white;
    z-index: 2;
  }
  .overlay {
    background-color: black;
    opacity: 60%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
}
  .thumb {
    background-size: cover;
    width: auto;
    height: 340px;
    position: relative;
    background: rgb(139,37,37);
  background: linear-gradient(0deg, rgba(139,37,37,1) 0%, rgba(255,96,96,1) 100%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0 0 0 / 51%) 33%, rgba(255, 255, 255, 0.3351715686) 100%);
    }
    p{
      color: white;
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-weight: bold;
      max-width: 33%;
    }
  }
@media (min-width:768px){
  .wraper {
    padding: 0px 100px;
  }
  .wrapper2 {
    flex-direction: row;
    gap:22px;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding: 56px 50px 43px 50px;
    border-radius: 25px;
    margin-bottom: 50px;
  }
  .hero{
    width: auto;
  }
}
.thumb {
  width: 340px;
  height: 340px;
  position: relative;
  background: rgb(139,37,37);
background: linear-gradient(0deg, rgba(139,37,37,1) 0%, rgba(255,96,96,1) 100%);
  border-radius: 10px;
  p{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: bold;
    max-width: 33%;
  }
  .thumb {
    width: 340px;
    height: 340px;
  }
}