.wrapper_carrousel {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 255px;
    border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    button {
        background: none;
        border: none;
    }
    svg {
        font-size: 20px;
        fill: white;
    }
    button:nth-child(2){
position: absolute;
top: 50%;
right: 5px; 
margin-top: -10px;
    }
    button:first-child{
        position: absolute;
        top: 50%;
        left: 5px; 
        margin-top: -10px;
            }
}
@media (min-width:768px) {
   .wrapper_carrousel {
    min-height: 415px;
   }
}