@import '../abstracts/variables';

.dropDown {
    position: relative;
    .dropDownChild {
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    svg {
        font-size: 24px;
    }
    .content {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}