.footer {
  background-color: black;
  color: white;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  img {
    width: 122px;
    margin: 0px auto;
    height: auto;
  }
  p {
      margin: 0px auto;
      max-width: 155px;
      text-align: center;
      margin-top: 16px;
  }
}
@media (min-width:768px ) {
  .footer {
    margin-top: 50px;
    p {
        max-width: unset;
    }
  }
}